
}
body{
text-align:center;
font-family:sans-serif;
background-image: url("cat.svg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-color: #0000ff;
padding:1em;
border:0;
width:100%;
}
}
table{
border-spacing:0px;
margin-left:auto;
margin-right:auto;
}
h1{
color:gold;
}
td{
border:2px solid black;
padding:0em;
}
div#notice{
color:red;
font-size:36pt;
position:absolute;
top:6cm;
left:24cm;
}
